    *{
        box-sizing: border-box;
    }
    body {
        background-color: rgb(255, 255, 255);
        font-family: 'Patua One', cursive;
    }
    
    .navbar {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgb(95, 95, 95);
        width: 100%;
        height: 70px;
        z-index: 1;
        margin-left: -8px;
        margin-top: -9px;
        
        
    }
    
    .nav {
        display: flex;
        justify-content: right;
        list-style: none;
        margin-right: 15%;
    }

    .logo {
        flex: 1 1 auto;
        margin-left: 10%;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 35px;
    }

    a {
        margin: 15px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        text-transform: uppercase;
    }

    a:hover {
        color: #000;
    }

    .container {
        height: 100%;
        width: 100%;
        overflow:hidden;
    }

    .imageSlider {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .imageSlider, .slide {
        position: relative;
        object-fit: cover;
        width: 3000px;
        height: 100vh;
        margin-top: -8px;
        
    }
    

    .slider-controls {
        z-index: 9;
        width: 90%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .slider-controls svg {
        height: 30px;
        width: 30px;
        transition: all 300ms ease;
        cursor: pointer;

    }

    .slider-controls svg path {
        fill: rgb(0, 0, 0);
    }

    .sliderIndicactors {
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        gap: 10px;
    }

    .sliderIndicactors, .indicator {
        height: 3px;
        width: 30px;
        background-color: rgb(255, 255, 255);
        background-repeat: 3px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(179, 218, 255, 0.877)),(rgba(0,0,0,0.5));
    }


    

    .News-area, .Contact-area, .Info-area, .XR-area {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 150px;
    }

    .text{
        width: 90%;
        height: 80%;
    }

    a-scene {
        width: 700px;
        height: 700px;
    }
